/* .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 98%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1rem;
    padding-right: 1rem;
    }
    }

.row{
    margin: 0;
    padding: 0rem 0rem 0rem 0rem;
}
.btn-outline-secondary{
    margin-top: 4rem;
    margin-bottom: -2rem;
    margin-left: 1rem;
    border-color: #4ecca3;
    color: #4ecca3;
} */

.gallery-title{
    margin: 8rem 0rem 5rem 0rem;
    color: #eeeeee;
}
  
 .responsive{
     width: 100%;
     height: auto;
 }